<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <title>Create New Category</title>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>Create New Category</h1>
            </div>

            <div id="content">
                <div id="nav">

                </div>

                <div id="main">
                    <form action="#" method = "post">
                        <div class="form-group">
                        <label for="name">Name:</label>
                        <input type ="text" maxlength="100" name="name" required>
                        <button type="submit" id="submit" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="footer">
                You are logged in as
            </div>
        </div>

</body>

</html>